WEBAPP_NAME=My PSGI Web App
WEBAPP_DESC=An example web application using PSGI and systemd
WEBAPP_USER=www-data
WEBAPP_GROUP=www-data
WEBAPP_WORKDIR=/opt/myapp
WEBAPP_ENVFILE=/opt/myapp/.env
WEBAPP_LOGDIR=/var/log/myapp
WEBAPP_SERVICE_NAME=myapp
WEBAPP_CMD="/usr/bin/starman --workers=\${MYAPP_WORKERS:-2} -l :\${MYAPP_PORT:-5000} /opt/myapp/bin/app.psgi"

